<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>


<div class="container">
  <div class="row">
    <div class="col-lg-6">6 colonnes
      <div class="row">
        <div class="col-lg-4">4 colonnes</div>
        <div class="col-lg-4 col-lg-offset-4">4 colonnes</div>
      </div>
    </div>
    <div class="col-lg-6">6 colonnes
      <div class="row">
        <div class="col-lg-4">4 colonnes</div>
        <div class="col-lg-8">8 colonnes</div>
      </div>
    </div>
  </div>
</div>